#root {
  margin: 0 auto;
 text-align: center;
}

body {
  color:#f0ebd8  ;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  
}

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.main-content {
  z-index: 10;

   position: relative;
}
