#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  color:bisque;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);  
}

body {
  background-image: url("/images/download.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: repeat-x; /* This makes it repeat *only* horizontally */
  background-size: auto 100vh; /* Keeps the height full but width auto */
  background-position: top center;
}


