#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  color:bisque;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.06);
  
}

body::before {
  content: "";
  position: fixed; /* Covers the whole screen */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("/images/download (7).jpeg");
  background-size: cover;
  background-position: center;
  transform: scaleX(-1); /* Flips the image horizontally */
  z-index: -1; /* Places it behind all content */
}


