@font-face {
  font-family: 'Kalla';
  src: url('/fonts/Kalla.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: 'Kalla', 'Times New Roman', Avenir, Helvetica, Arial, sans-serif;
  line-height: 50px;
  font-weight: 400;
  display: block;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Sakrij scroll bar na svim elementima */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge, Opera */
}
