@font-face {
  font-family: 'Kalla';
  src: url('/fonts/Kalla-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family:  monospace, Avenir, Helvetica, Arial, sans-serif;
  line-height: 50px;
  font-weight: 400;
  display: block;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
