.outfit-container {
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 400px; /* fiksna visina cijelog prostora */
    box-sizing: border-box;
  }
  
  .canvas {
    flex: 1;
    height: 100%;
    background-color: white;
    border: 2px dashed #ccc;
    position: relative;
    overflow: hidden;
  }
  
  .canvas-item {
    width: 100px;
    height: auto;
    position: absolute;
    cursor: grab;
    user-select: none;
    pointer-events: auto;
  }
  
  
  .draggable-wrapper {
    position: absolute;
    width: 100px;
    height: auto;
  }
  
  .closet-panel {
    width: 400px;
    height: 100%;              /* fiksna visina da se može scrollati */
    overflow-y: auto;          /* scroll samo ako je potrebno */
    box-sizing: border-box;
  }
  
  .closet {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .closet-item {
    width: 100px;
    height: auto;
    cursor: grab;
    border-radius: 4px;
  }
  

  .canvas-item-wrapper {
    position: absolute;
    cursor: grab;
    user-select: none;
  }
  
  
  .resize-handle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0ebd8;
    border-radius: 4px 4px 0 4px ;
    cursor: nwse-resize;
    display: none; /* hidden by default */
    z-index: 5;
  }
  
  /* Prikaži handle samo kad je mišem iznad wrappera */
  .canvas-item-wrapper:hover .resize-handle {
    display: flex;
  }
  
  .resize-handle svg {
    width: 14px;
    height: 14px;
    color: #ff1493;
    pointer-events: none;
  }
  
  