/* ClothingItemDetail.css */
.clothing-detail-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    color: rgb(51, 51, 51);
  }
  
  .clothing-detail-modal {
    background: #f0ebd8;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 70%;
    max-width: 800px;
    padding: 20px;
    position: relative;
  }
  
  .clothing-detail-content {
    display: flex;
  }
  
  .detail-image img {
    width: 250px;
    max-height: 333px;
    border-radius: 10px;
  }

  .detail-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .detail-form {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-shadow: none;
  }
  
  .close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 18px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .delete-btn {
    font-family: 'Kalla';
    background-color: #ffffff;
    color: #ff1493;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.5rem;
  }
  .button-group {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .worn-btn {
    font-family: 'Kalla';
    background-color: #ff1493;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.5rem;

  }
  
  .worn-btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .data-div{
    font-size: 1.2rem;
    height: 2rem;
    display: flex;
    align-items: center;
  }
  