
  .collage-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    pointer-events: auto;
  }
  
  .collage-img {
    position: absolute;
    object-fit: contain;
    filter: grayscale(100%) blur(3px) brightness(0.5);
    pointer-events: auto;
    border: none;
  }
  
  .collage-img:hover {
    filter: grayscale(0%);

/*     border: 3px solid bisque;
 */  }
  