.collage-background {
    position: fixed; /* Fiksira pozadinu */
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    
    background-image: url('/images/collage.jpg'); /* Postavi pozadinsku sliku */
    background-size: cover; /* Pokrije cijeli ekran */
    background-position: center; /* Centrira sliku */
    background-repeat: no-repeat; /* Sprječava ponavljanje slike */
    background-attachment: fixed; /* Fiksira sliku prilikom skrolanja */
}
