.collage-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
  pointer-events: auto;
}

.collage-svg {
  position: absolute;
  overflow: visible;
  pointer-events: none; /* Prevents interaction with the SVG container itself */
}

.collage-svg image {
  pointer-events: auto; /* Enables interaction only on the non-transparent parts */
  filter: grayscale(100%);
  transition: filter 0.3s ease, transform 0.3s ease;
}

.collage-svg image:hover {
  filter: grayscale(0%);
  transform: scale(1.1);
}
