.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
}

.logo-img-btn{
    background-color: transparent;
    border: none;
}

.logo-img{
    height: 35px;
}

@media (max-width: 768px) {
    .header-container {
        width: 90vw;
    }
    .logo-img{
        height: 25px;
    }

    .weather-div{
        height: 30px;
    }

  }