.homeButton {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #f0ebd8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 1.6rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .homeButton:hover {
    background-color: #dcd6bd;
    transform: scale(1.05);
  }
  