  .formContainer {
    width: 100%;
    max-width: 1200px;
  }

  .AddContainer {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
  }

  .formContent {
    display: flex;
    gap: 2rem;
  }

  .image-input-div,
  .form-div {
    flex: 1; /* Jednaka širina */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .hidden-file-input {
    display: none;
  }

  @media (max-width: 600px) {
    .formContent {
      flex-direction: column;
    }
  
    .image-input-div,
    .form-div {
      width: 100%;
    }
  }

  input[type="text"],
input[type="number"],
input[type="file"],
select {
  padding: 2px 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 110px;
  font-family: 'Kalla', sans-serif;
  font-size: 1.3rem;
  box-sizing: border-box;
  text-transform: lowercase;
}

input[type="text"]:focus,
input[type="number"]:focus,
select:focus {
  outline: none;
  border-color: #ff1493;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.2);
  text-transform: lowercase;
}

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #ff4d6d;
}