.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: relative;
  }
  
  .contentFrame {
    flex: 1;
    margin: auto;
    background-color: #f0ebd8;
    border-radius: 1.5rem;
    overflow-y: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    /* height: 40vh;
    width: 70vw; */
    height: 515px;
    width: 885px;
  }
  
  .navButtonsContainer {
    display: flex;
  }

  @media (max-width: 768px) {
    .contentFrame {
        width: 90vw;
    }
  }
  