.homeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navButtonsContainer{
    display: flex;
    flex-direction: row;
    top: 80%;
    position: relative;
}