.homeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.homeButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}