.homeContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.contentContainer{
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navButtonsContainer{
    display: flex;
    flex-direction: row;
}

.welcomeDiv{
    font-size: 3rem;
}

.navButtonsContainerCenter {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }
  
  .navButtonsContainerBottom {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    position: fixed;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
  }
  
  .welcomeDiv {
    text-align: center;
    margin-bottom: 0;
  }

  .logoImg{
    height: 80px;
    margin-bottom: 50px;
  }
  
  .contentBox {
    width: 80%;
    height: 400px;
    margin: 2rem auto;
    background-color: #f0ebd8;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    animation: fadeIn 0.5s ease;
    font-size: 4rem;
/*     color: #463730;
 */    color: #3a2618;
    text-shadow: none;
  }
  
  .homeButton:hover {
    transform: translateY(-5px);
  }
  
  .hoverText {
    position: absolute;
    bottom: 140px;
    border-radius: 25px;
    font-size: 2rem;
    z-index: 10;
    transition: opacity 0.3s, transform 0.3s;
    opacity: 1;
    transform: translateY(-10px);
    font-weight: 600;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

  @media (max-width: 1024px) {
    .contentContainer {
      width: 60vw;
    }
  
    .welcomeDiv {
      font-size: 2.5rem;
    }
  
    .hoverText {
      font-size: 1.5rem;
      bottom: 120px;
    }
  
    .logoImg {
      height: 70px;
      margin-bottom: 40px;
    }
  }
  
  @media (max-width: 768px) {
    .contentContainer {
      width: 80vw;
    }
  
    .welcomeDiv {
      font-size: 2rem;
    }
  
    .hoverText {
      font-size: 1.3rem;
      bottom: 100px;
    }
  
  
    .logoImg {
      height: 60px;
      margin-bottom: 30px;
    }
  
    .contentBox {
      font-size: 2.5rem;
      height: auto;
      padding: 1.5rem;
    }
  }
  
  @media (max-width: 480px) {
    .contentContainer {
      width: 90vw;
    }
  
    .welcomeDiv {
      font-size: 1.5rem;
    }
  
    .hoverText {
      font-size: 1rem;
      bottom: 90px;
    }
  
    .logoImg {
      height: 50px;
      margin-bottom: 20px;
    }
  
    .contentBox {
      font-size: 2rem;
      padding: 1rem;
    }
  }
  