/* Centering the login container */
.loginContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Full screen height */
    text-align: center;
    width: 100vw;
  }
  
  /* Main title styling */
  .loginTitle {
    font-size: 100px;
    margin-bottom: 5vh;
    font-weight: bold;
    font-family: 'Kalla', sans-serif;
  }

  .loginLogo{
    height: 80px;
  }
  
  /* Subtitle styling */
  .loginSubtitle {
    font-size: 40px;
    margin: 0;
    font-family: 'Kalla', sans-serif;
  }
  
  /* Google button container */
  .googleLoginContainer {
    margin-top: 20px;
  }
  